VITE_RPC_URL=your-vite_rpc_url
VITE_CONTRACT_ADDRESS=your-vite_contract_address
VITE_ADMIN_ADDRESS=your-vite_admin_address

VITE_PINATA_API_KEY=your-vite_pinata_api_key
VITE_PINATA_API_SECRET=your-vite_pinata_api_secret
